
/*setting some css for the bar at the top of the page*/
#bar
{
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #00ddff;
    background-color: black;
    color: white; 
    font-weight: bold; 
    width: 100%;
    height: 1cm;
    margin-top: -0.09%;
    top:0; 
    z-index: 999;
    position: fixed;
    
   
}  




.home
{
    margin-right:1.5cm;
}

.about-me
{
    margin-right:1.5cm;
}
.contact
{
    margin-right:1.5cm;
}
.Portfolio
{
    margin-right:1.5cm;

}


h1
{
    background: linear-gradient(to right,#00ddff, #8c00ff,rgb(255, 192, 228)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    position: relative;
    display: inline-block;
    padding-top: 2cm;
    margin-left: 45%;
 
   
} 

  /*setting the line that slides in at (re)load*/
  h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ddff;
    transform-origin: bottom right;
    transition: transform 3s ;
    animation: underline-slide 3s ease-out forwards; /*animation starts fast then slows down, 
    and element keeps its final state when the animation is over*/
  }
  
 
  
  @keyframes underline-slide {
    from {
      transform: scaleX(0);
      transform-origin: bottom left;
    }
    to {
      transform: scaleX(1);
      transform-origin: bottom right;
    }
  } 


/*setting some css for the project cards and their animation*/
  .flex-container
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 3cm; 
    border: 1px,transparent,solid;
    
  } 
  
  
.card
{
 position: relative;
  width: 12cm;
  height: 10cm;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border: 1px,solid,black;
  
} 

#project1:hover
{
    transform: rotateX(180deg);
}

 #project2:hover
{
    transform: rotateX(180deg);
}

.frontCard, .backCard
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.frontCard
{
    border: 2px black solid;
    color:white; 
    text-align: start;
    position: absolute; 
    align-items: center;


}


.backCard
{
    position: absolute;
    transform: rotateX(180deg);
    border: 2px black solid;
    transition: transform 0.5s;
    

}  
/*some css for the writing in the backcard*/
.backCard #title 
{
    font-size: large;
    padding-top: 3cm;
} 

.backCard #language
{
    color: rgb(232, 90, 114);
} 


.backCard button
{
    background-color:  rgb(232, 90, 114);
    color: white;
    
 

}


.btn:hover
{
    background-color: white;
    color: rgb(223, 15, 112);
}

.btn:hover a
{
    color: rgb(223, 15, 112);
}


img
{
    max-width: 12cm;
    max-height: 10cm;
    padding-left: 5%;
}


a 
{
    color: white;
    text-decoration: none;
}
/*adding some css for the projects' descriptions*/
.d-bloc.w-100
{
    position: relative;
    max-width: 100%;
    
}

.carousel-item p
{
    color: black;
    text-align: justify; 
    margin-left: 10%;
}

.carousel-item H5
{
    color:#04C2C9; 
    margin-left: 10%;
    text-align: justify; 
}

#carouselExampleControls
{
    height: 10cm;
    width: 10cm;
    border: 2px, black solid;
}

/*making the buttons visible*/
.carousel-control-next-icon,.carousel-control-prev-icon {
    background-color: rgb(16, 0, 0); /* change the color of the next button */
    position: absolute;
  }

#close,#close2 /*the close button for the project carousels*/
  {
    
    background-color:  rgb(232, 90, 114);
    color: white;
    position: relative;
    margin-top: 10%;
    margin-left: 40%;
  }

#close:hover,#close2:hover
{
    background-color:  rgb(197, 100, 238);
    
}





.box2
{
  display: flex;
  flex-direction: row;
}
iframe
{
  margin-top: 4%;
  margin-left: 4%;
}

.projectImg
{
  max-width: 110%;
  max-height: 80%;
  min-width: 110%;
  min-height: 80%;
  padding-right: 14%;
  padding-top: 6%;
  scale: 1.25;
} 

ul,span
{
  margin-left: 6%;
}
span
{
  color: #1FD1C5;
  font-weight: bold;
}






