img
{
    position: relative;
    max-width: 100%;
    
}

.carousel-control-next
{
    color: black;
}

#carouselExampleControls
{
    height: 10cm;
    width: 10cm;
    border: 2px, black solid;
}

.carousel-control-next-icon,.carousel-control-prev-icon {
    background-color: rgb(16, 0, 0); /* change the color of the next button */
    position: absolute;
  }
